@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Italic.ttf');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}


@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'segoescript';
	src: url('/fonts/segoescript.ttf');
	font-weight: 400;
}

:root {
    --color1: #000;
    --color2: #EBEEF6; /* backround color */
}

html {
	height: 100%;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 15rem);
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.page {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-height: 100vh;
}

body {
    color: var(--color1);
    font-weight: 400;
    line-height: 53.02px;
    letter-spacing: 3.2px;
    min-height: 100%;
    height: 100vw;
    /* overflow-x: hidden; */
    font-family: 'Roboto', 'segoescript', 'sans-serif';
    background-color: var(--color2);
}

/* Header styles */

.header {
    /* padding-bottom: 500px; */
    width: 100%;
    height: 100vh;
    background: url("/img/background header.png"), lightgray 50% / cover no-repeat; 
	box-shadow: 1920px 4px 0px 0px rgba(0, 0, 0, 0.10) inset;
}

.header-logo {
    
}

.header-title {
    position: relative;
    left: 2.8em;
    max-width: 600px;
    line-height: 70px;
}

.navbar-brand {
    margin: 0 380px 0 0;
    /* max-width: 529px; */
}

#price {
    padding-right: 0;
}

.navbar {
    margin-bottom: 300px;
}

.navbar-nav {
    
}


/* Адаптивная вёрстка */

@media (max-width: 768px) {
    .header {
        background: url("/img/background header.png") cover no-repeat; 
        background-size: contain;
        background-repeat: no-repeat;
    }
}